<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="UTF-8">    
<link rel='stylesheet' href='../public/href/reset.css'>
</head>
 	
<body> 

  <section>
  
  <header>
   <h1> New Blue Heaven</h1>
        <aside>
 	        <a href="/newCrmClient" >
 	          <img src="../public/img/FlagNor.svg"  height="100%" width="100%" alt="Norske flagg" />            
          </a>
           <a href="/newCrmClientEn" >
 	          <img src="../public/img/FlagEng.svg"  height="100%" width="100%" alt="Engelsk flagg" />            
          </a>
        </aside>

  </header>   
   <h2>Blir laget når den norske versjonen er oppe og går. TBD</h2>
    <footer>
  <p>Copyright &copy; 2015 BedreData</p>
   </footer>
 </section>  
</body>
</html>
 